{include file=comm/head.html} {include file=comm/nav.html}

<div class="container pages">
    {include file=comm/position.html}
    <div style="display: flex; justify-content: space-around;">
        <div class="pages-content">
            <ul style="margin-top: 40px; line-height: 40px;">
                <li>公司名称：{pboot:companyname}</li>
                <li>联系人：{pboot:companycontact}</li>
                <li>电话：{pboot:companymobile}</li>
                <li>邮箱地址：{pboot:companyemail}</li>
            </ul>
        </div>
        <div class="pages-map" style="width: 660px; height:490px;">
            {include file=comm/map.html}
        </div>
    </div>

</div>
{include file=comm/foot.html}