<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>兴佳</title>
    <link rel="stylesheet" href="{pboot:sitetplpath}/css/index.css">
    <link rel="stylesheet" href="{pboot:sitetplpath}/css/swiper.css">
    <link rel="stylesheet" href="{pboot:sitetplpath}/css/swiper.min.css">
    <link rel="stylesheet" href="{pboot:sitetplpath}/css/certify.css">

</head>

<body>
    <!-- head 头部 -->
    {include file=comm/head.html}
    <!-- banner 开始 -->
    {include file=comm/nav.html} {include file=comm/search.html}
    <!-- banner  结束 -->
    <!-- 产品中心 开始 -->
    <div class="product">
        <div class="w">
            <p>PRODUCT</p>
            <div class="pro-content">
                <span></span><b>产品中心</b><span></span>
            </div>
            <div class="pro-bd">
                {pboot:list scode=5 num=6 order=sorting}
                <div class="probd-top">
                    <img src="[list:ico]" alt="[list:title]">
                    <div class="probd-bottom">
                        <div>
                            <h5>[list:title]</h5>
                            <span>[list:subtitle]</span>
                        </div>
                        <div><a href="[list:link]">查看详情+</a></div>
                    </div>
                </div>
                {/pboot:list}
            </div>
            <div class="more">
                <span></span><a href="/?product/">查看更多>></a>
            </div>
        </div>
        <!-- 产品中心 结束 -->
        <div class="advertise">
            <div class="w advertise-content">
                <img src="{pboot:sitetplpath}/upload/advertise.png" alt="">
                <div class="adver-text">
                    <h3>集研发、设计、生产、建造、贸易于一身的专业厂家</h3>
                    <h2><span>兴佳别墅</span> 可以满足您对别墅设计定制的需求！</h2>
                    <p><span>全国服务咨询热线：</span>{pboot:companymobile}</p>
                </div>
            </div>
        </div>
        <div class="w" id="serve">
            <canvas id="canvas1"></canvas>
            <p>专业从事绿色集成住宅系统的运营商<span>Green integrated house</span></p>
            <h1>事实胜于雄辩，服务创造价值</h1>
            <canvas id="canvas2"></canvas>
        </div>
        <!-- 模块1 开始 -->
        <div class="w mod">
            <div class="mod-left">
                <div class="modLeft-top">
                    <span>01</span>
                    <span>国家政策扶持</span>
                </div>
                <div class="modLeft-bott">
                    兴佳结构房屋体系代表了当今世界先进住宅房屋的主流趋势，是对我国传统建筑方式的革命性突破，与国家“四节一环保”的住宅产业政策相一致。
                </div>
            </div>
            <div class="mod-right">
                <img src="{pboot:sitetplpath}/upload/mod1.png" alt="">
            </div>
        </div>
        <!-- 模块1 结束 -->
        <!-- 模块2 开始 -->
        <div class="w mod2">
            <div class="mod2-left">
                <img src="{pboot:sitetplpath}/upload/mod2.png" alt="">
            </div>
            <div class="mod2-right">
                <div class="mod2Right-top">
                    <span>联合高校研发</span>
                    <span>02</span>
                </div>
                <div class="mod2Right-bott">
                    兴佳和郑州大学合作联合研发智能房屋技术(新型家用节能电梯升降系统、阳台智能滑轨、智能车库门、家用太阳能发电系统等别墅技术)，是国内唯一一家以依托互联网同时注重住宅技术研发的轻、重钢别墅企业。
                </div>
            </div>
        </div>
        <!-- 模块2 结束 -->
        <div class="w mod">
            <div class="mod-left">
                <div class="modLeft-top">
                    <span>03</span>
                    <span>专业设计、施工团队</span>
                </div>
                <div class="modLeft-bott">
                    公司拥有一支专业的研发和设计、施工团队，团队成员80%以上属于建筑学科、设计学科等科班出身，方案设计师、建筑设计师、结构设计师、水电设计师、效果图设计师等众多经验丰富的专业建筑设计师团队。
                </div>
            </div>
            <div class="mod-right">
                <img src="{pboot:sitetplpath}/upload/mod3.png" alt="">
            </div>
        </div>
        <div class="w mod2">
            <div class="mod2-left">
                <img src="{pboot:sitetplpath}/upload/mod4.png" alt="">
            </div>
            <div class="mod2-right">
                <div class="mod2Right-top">
                    <span>劳动投入成本小</span>
                    <span>04</span>
                </div>
                <div class="mod2Right-bott">
                    公司产品全部采用工厂化生产，现场组装，建造速度快捷，且现场干作业施工，环境污染小，劳动力成本投入少，客户仅需很短的时间就可以入住一个温馨舒适的新居。
                </div>
            </div>
        </div>

        <div class="advertise2">
            <div class="w advertise2-content">
                <img src="{pboot:sitetplpath}/upload/advertise2.png" alt="">
                <div class="adver2-text">
                    <h2><span>规范</span>的管理、<span>科学</span>的设计、<span>严格</span>的生产标准、<span>周到</span>的服务</h2>
                    <h3>诚信经营、顾客至上、自始至终为顾客提供一流的服务</h3>
                    <p><span>全国服务咨询热线：</span>{pboot:companymobile}</p>
                </div>
            </div>
        </div>

        <!-- 关于我们 开始 -->
        <div class="w aboutUS">
            <h1>ABOUT US</h1>
            <div class="pro-content">
                <span></span><b>关于我们</b><span></span>
            </div>
            <div class="about-content">
                <img src="{pboot:sitetplpath}/upload/about.png" alt="">
                <div class="about-cont">
                    <p>兴佳别墅成立于2020年1月18日，注册资金1000万元。公司注册地在宰相故里新乡原阳，公司拥有4000平方研发及生产基地。</p>
                    <p>兴佳别墅是一家专业从事绿色集成住宅系统的运营商，集研发、设计、生产、建造、贸易于一身，生产基地位于河南省新乡市。我们的产品与服务包括:超轻钢(LGS)绿色集成住宅系统、轻钢龙骨系统及别墅设计、重钢以及轻重钢龙骨系统及别墅设计制造。</p>
                    <a href="/?aboutus/">了解更多>></a>
                </div>
            </div>
        </div>
        <!-- 关于我们  结束 -->
        <!-- 企业相册 开始 -->
        <div class="w photo">
            <h1>ENTERPRISE ALBUM</h1>
            <div class="pro-content">
                <span></span><b>企业相册</b><span></span>
            </div>
            <div class="photos">
                <div id="certify">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img style="width:520px;height:373px;" src="{pboot:sitetplpath}/upload/swiper1.png" /><br>
                                <p id="p1">兴佳团建活动 1</p>
                            </div>
                            <div class="swiper-slide"><img src="{pboot:sitetplpath}/upload/swiper2.png" /><br>
                                <p id="p2">兴佳团建活动 2</p>
                            </div>
                            <div class="swiper-slide"><img src="{pboot:sitetplpath}/upload/swiper3.png" /><br>
                                <p id="p3">兴佳团建活动 3</p>
                            </div>
                            <div class="swiper-slide"><img src="{pboot:sitetplpath}/upload/swiper4.png" /><br>
                                <p id="p4">兴佳团建活动 4</p>
                            </div>
                            <div class="swiper-slide"><img src="{pboot:sitetplpath}/upload/swiper5.png" /><br>
                                <p id="p5">兴佳团建活动 5</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <!-- 企业相册 结束 -->
        <!-- 项目案例 开始 -->
        <div class="case">
            <div class="w">
                <h1>PROJECT CASE</h1>
                <div class="pro-content">
                    <span></span><b>项目案例</b><span></span>
                </div>
                <div class="case-bd">
                    <ul>

                        {pboot:list scode=8 num=3}
                        <li>
                            <a href="[list:link]">
                                <img src="[list:ico]" alt="">
                                <h5>[list:title]</h5>

                            </a>

                        </li>
                        {/pboot:list}
                    </ul>
                </div>
            </div>
        </div>

        <!-- 行业资讯 开始 -->
        <div class="info">
            <div class="w">
                <h1>INDUSTRY INFORMATION</h1>
                <div class="pro-content">
                    <span></span><b>行业资讯</b><span></span>
                </div>
                <div class="info-title">
                    <ul class="tab">
                        <li class="tab-item active">产品中心</li>
                        <li class="tab-item">新闻中心</li>
                    </ul>
                    <div class="info-case">
                        <div class="main active">
                            {pboot:list scode=5 num=4 order=sorting}
                            <a href="[list:link]">
                                <img src="[list:ico]" alt="[list:title]">
                                <div class="probd-bo">
                                    <div>
                                        <h5>[list:title]</h5>
                                        <!-- <span>[list:content]</span> -->
                                    </div>
                                </div>
                            </a>
                            {/pboot:list}
                        </div>
                        <div class="main">
                            {pboot:list scode=2 num=4 len=10 order=sorting}
                            <a href="[list:link]">
                                <img src="[list:ico]" alt="[list:title]">
                                <div class="probd-bo">
                                    <div>
                                        <h5>[list:title]</h5>
                                        <!-- <span>[list:content]</span> -->
                                    </div>
                                </div>
                            </a>
                            {/pboot:list}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 头部 -->
        {include file=comm/foot.html}

        <script src="{pboot:sitetplpath}/js/swiper.min.js"></script>
        <script>
            window.onload = function() {
                var canvas1 = document.querySelector('#canvas1');
                canvas1.width = 120;
                canvas1.height = 100;
                let context = canvas1.getContext('2d');
                context.moveTo(115, 15);
                context.lineTo(20, 15);
                context.lineTo(20, 85);
                context.lineTo(48, 85);
                context.lineWidth = 3
                context.strokeStyle = '#ccc'
                context.stroke()

                var canvas2 = document.querySelector('#canvas2');
                canvas2.width = 1000;
                canvas2.height = 100;
                let context2 = canvas2.getContext('2d');
                context2.moveTo(605, 18);
                context2.lineTo(980, 18);
                context2.lineTo(980, 85);
                context2.lineTo(510, 85);
                context2.lineWidth = 3
                context2.strokeStyle = '#ccc'
                context2.stroke()
            }
            var certifySwiper = new Swiper('#certify .swiper-container', {
                watchSlidesProgress: true,
                slidesPerView: 'auto',
                centeredSlides: true,
                loop: true,
                autoplay: true,
                loopedSlides: 5,
                autoplay: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '#certify .swiper-pagination',
                    //clickable :true,
                },
                on: {
                    progress: function(progress) {
                        for (i = 0; i < this.slides.length; i++) {
                            var slide = this.slides.eq(i);
                            var slideProgress = this.slides[i].progress;
                            modify = 1;
                            if (Math.abs(slideProgress) > 1) {
                                modify = (Math.abs(slideProgress) - 1) * 0.3 + 1;
                            }
                            translate = slideProgress * modify * 260 + 'px';
                            scale = 1 - Math.abs(slideProgress) / 5;
                            zIndex = 999 - Math.abs(Math.round(10 * slideProgress));
                            slide.transform('translateX(' + translate + ') scale(' + scale + ')');
                            slide.css('zIndex', zIndex);
                            slide.css('opacity', 1);
                            if (Math.abs(slideProgress) > 3) {
                                slide.css('opacity', 0);
                            }
                        }
                    },
                    setTransition: function(transition) {
                        for (var i = 0; i < this.slides.length; i++) {
                            var slide = this.slides.eq(i)
                            slide.transition(transition);
                        }

                    }
                }

            })

            // 排他思想
            // 1.1 获取所有li元素，为li元素绑定事件，后期还要对其进行样式处理--排他法
            let lis = document.querySelectorAll('.tab-item')
                // 1.2 获取所有main元素，后期还要对其进行样式处理--排他法
            let mains = document.querySelectorAll('.main')

            // 2.为所有li元素绑定事件，由于之前获取到的是伪数组，不能直接操作，所以需要遍历
            lis.forEach(function(ele, index) {
                // ele就是当前所遍历到的li元素,我们就是要为它绑定事件
                ele.addEventListener('mouseover', function() {
                    // 2.1 找到当前有active样式的li元素，干掉它的active样式
                    document.querySelector('.tab > li.active').classList.remove('active')
                        // 2.2 为当前被单击的li元素添加active样式
                        // lis[index].classList.add('active')
                    this.classList.add('active')

                    // 2.3 找到有active样式的main元素，干掉它的active样式
                    document.querySelector('.info-case > .main.active').classList.remove('active')
                        // 2.4 找到对应的内容面板显示:以后很多时候，说到对应不出意外都是索引对应
                    mains[index].classList.add('active')
                })
            })
        </script>
</body>

</html>